:host {
  h3 {
    text-align: center;
  }

  ul {
    font-size: 0.8em;
    overflow-y: auto;
    padding: 0 6px;
    li {
      background-color: transparent;
      padding: 0 6px;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        background-color: #c5cae9;
      }
    }
  }
}
