:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  color: inherit;
  padding-top: 6px;

  button {
    border: none;
    outline: none;
    padding: 0;
    height: 50px;
    width: 80px;
    margin-bottom: 6px;
    color: inherit;
    background-color: transparent;
    transition: 0.2s;
    &:hover {
      background-color: #303f9f;
      cursor: pointer;
    }
    &.functions {
      background-color: #303f9f;
      &:hover {
        background-color: darken(#303f9f, 10%);
      }
    }
    &.equal {
      background-color: #ff5722;
      &:hover {
        background-color: darken(#ff5722, 10%);
      }
    }
  }
}
